<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="../lib/angular/angular.min.js"></script>
    <script>
        function Ctrl($scope, $sce) {
            $scope.title = 'Title';
            $scope.html = $sce.trustAsHtml('<h1>Dummy Header</h1>');
            $scope.$watch('html', function (oldValue, newValue) {
                if (oldValue && newValue) {
                    $scope.html = $sce.trustAsHtml(newValue);
                }
            });
        }
        angular.module('transclude', [])
                .directive('pane', function () {
                    return {
                        restrict: 'E',
                        transclude: true,
                        scope: { title: '@' },
                        template: '<div style="border: 1px solid black;">' +
                                '<div style="background-color: gray"><h3>{{title}}</h3></div>' +
                                '<div class="insertion-point" ng-transclude></div>' +
                                '</div>'
                    };
                });
    </script>
</head>
<body ng-app="transclude" ng-csp>
    <div ng-controller="Ctrl">
        <input ng-model="title"><br>
        <textarea ng-model="html"></textarea> <br/>
        <pane title="{{title}}">
            <div ng-bind-html="html"></div>
        </pane>
    </div>
</body>
</html>